<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用spring来创建对象
    比对正常创建方式
    Hello hello = new Hello();
    id = 变量名  class= new 的对象
    property: 对象中的属性设置值
    -->

    <bean id="hello" class="com.wkk.pojo.Hello">
        <!-- collaborators and configuration for this bean go here -->
        <!--属性设置-->
        <property name="name" value="孔维坤"/>
    </bean>
    <!--无参构造方法的使用示例-->
<!--    <bean id="user" class="com.wkk.pojo.Student">-->
<!--        <property name="name" value="维坤坤"/>-->
<!--    </bean>-->

    <!--1. 下标方式    -->
<!--    <bean id="user" class="com.wkk.pojo.Student">-->
<!--        <constructor-arg index="0" value="维坤坤"/>-->
<!--    </bean>-->

    <!--2. 参数数据类型    -->
<!--    <bean id="user" class="com.wkk.pojo.Student">-->
<!--        <constructor-arg type="java.lang.String" value="孔维坤"/>-->
<!--    </bean>-->

    <!--3. 指明具体的参数-->
    <bean id="user" class="com.wkk.pojo.Student">
        <constructor-arg name="name" value="维坤坤"/>
    </bean>



</beans>
