<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
    <!--独立出连接MySQL的配置
    driver: 使用的驱动
    url: 连接的url
    username:
    password
    -->

    <!--使用spring整合之后 mybatis-config.xml
        一般用于编写一些设置-->
    <properties resource="jdbc.properties"/>

    <typeAliases>
        <package name="com.wkk.pojo"/>
    </typeAliases>


    <!--    事务管理和连接池的配置-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--        <mapper resource="mybatis/mapper.xml"/>-->
<!--    </mappers>-->
</configuration>
